@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.react-flow__node-custom {
  @apply rounded-lg shadow bg-white border border-slate-200;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(15, 23, 42, 0.3);
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
